*{
    padding: 0;
    margin: 0;
}

.txtlabel{
    margin-right: 10px;
}
table{
    margin: 10% 20% 3.5% 33%;
}   

th{
    background-color: #d98403;
    text-align: left;
    color: #c5cb64;
    padding: 16px 0px 15px 25px;
}

td{
    padding: 10px 23px 10px 0px;
}

.formLabel{
    text-align: right;
}

.thFormLabel{
    text-align: right;
}

.formcheck{
    margin-right: 10px;
}

.thFormInput{
    text-align: left;
}
.fildes{
    background-color:#222536;
}

.formcheckLabel{
    color: #bfbb65;
}

.formLabel{
    color: #bfbb65;
    margin: 7px 0px 0px 20px;
}

.tFooter{
    text-align: right;
    background-color: #d98403;
}

.btnSubmit{
    background-color: #5da558;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
}

.btnCencel{
    background-color: #d9534c;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
}


